profiles {
    ua {
        params.cluster = "ua"
        process.executor = 'slurm'
        process.user = System.getProperty("user.name")
        apptainer.enabled = true
        process.container = "/home/u25/${process.user}/HPC_Umbrella.sif"
        params.outputDir = "/xdisk/twheeler/${process.user}/RM_Nextflow_out"
    }
    local {
        params.cluster = "local"
        process.executor = 'slurm'
        process.user = System.getProperty("user.name")
        apptainer.enabled = true
        process.container = "/home/u25/${process.user}/HPC_Umbrella.sif"
        params.outputDir = "/xdisk/twheeler/${process.user}/RM_Nextflow_out"
    }
}