profiles {
    ua {
        singularity.enabled = true
        singularity.autoMounts = true

        user = 'whoami'.execute().text.trim()
        process.container = "/home/u25/${user}/HPC_Umbrella.sif"
        params.outputDir = "/xdisk/twheeler/${user}/RM_Nextflow_out"
    }

    local {
        singularity.enabled = true
        singularity.autoMounts = true
        
        user = 'whoami'.execute().text.trim()
        process.container = "/home/${user}/projects/Dfam-umbrella/HPC/HPC_Umbrella.sif"
        params.outputDir = "/home/${user}/scratch/HPC_testing"
    }
}