// def base_ttu = { // This contains settings common to both TTU clusters
//     // params.cluster = 'ttu'
//     params.thisExecutor = "slurm"
//     // params.thisQueue = ""
//     params.thisOptions = "--tasks=1 -N 1 --exclude=cpu-23-1"
//     params.thisAdjOptions = "--tasks=1 -N 1 --cpus-per-task=2 --exclude=cpu-23-1"
//     params.thisScratch = false
//     params.ucscToolsDir="/lustre/work/daray/software/ucscTools"
//     params.repeatMaskerDir="/lustre/work/daray/software/RepeatMasker-4.1.2-p1"
// }

profiles {
    params.user = 'whoami'.execute().text.trim()
    
    //  RepeatMasker Parameters
    params.cpus =          null
    params.outputDir =     null
    params.species =       null
    params.inputLibrary =  null
    params.engine =        null
    params.nolow =         null
    params.s =             null
    params.xsmall =        null
    params.batchSize =     null
    params.inputSequence = null
    
    ua {
        // UA requires full file paths
        apptainer.enabled = true
        apptainer.autoMounts = true
        apptainer.runOptions = " -B /xdisk/twheeler/${params.user}/Libraries:/opt/RepeatMasker/Libraries "

        process.container = "/home/u25/${params.user}/HPC_Umbrella.sif"
        params.outputDir = "/xdisk/twheeler/${params.user}/RM_Nextflow_out"
        
        params.cluster = 'ua'
        params.thisExecutor = "slurm"
        params.thisQueue = ""
        params.thisOptions = "--account=twheeler --partition=standard --nodes=1 --ntasks=1 "
        params.thisAdjOptions = ""
        params.thisScratch = false
        params.ucscToolsDir="/opt/ucsc_tools"
        params.repeatMaskerDir="/opt/RepeatMasker"
    }

    local {
        apptainer.enabled = true
        apptainer.autoMounts = true
        apptainer.runOptions = " -B /home/agray/scratch/Libraries/:/opt/RepeatMasker/Libraries "

        process.container = "/home/${params.user}/projects/Dfam-umbrella/HPC/HPC_Umbrella.sif"
        params.outputDir = "/home/${params.user}/scratch/HPC_testing"

        // small example settings
        params.batchSize = 10000
        params.inputSequence = "${projectDir}/sample/example1-seq.fa.gz"
        params.inputLibrary = "${projectDir}/sample/example1-lib.fa"

        params.cluster = 'local'
        params.thisExecutor = "local"
        params.thisQueue = ""
        params.thisOptions = ""
        params.thisAdjOptions = ""
        params.thisScratch = false
        // params.ucscToolsDir="/usr/local/ucscTools"
        params.ucscToolsDir="/opt/ucsc_tools"
        params.repeatMaskerDir="/opt/RepeatMasker"
    }

    // TTU clusters inheriting from TTU
    quanah {
        // base_ttu
        params.cluster = 'quanah'
        params.thisQueue = 'quanah'
    }
    nocona {
        // base_ttu
        params.cluster = 'nocona'
        params.thisQueue = 'nocona'
    }
}

/* Template:
profiles{
    your_profile {
        // other options here

        // boilerplate
        params.cluster = your_profile // should be the same as the profile name
        params.thisExecutor = 
        params.thisQueue = 
        params.thisOptions = 
        params.thisAdjOptions = 
        params.thisScratch = 

        // Directory to find twoBitToFa, faToTwoBit, and bedSort utilities
        // available from UCSC: http://hgdownload.soe.ucsc.edu/downloads.html#utilities_downloads
        params.ucscToolsDir= path
        
        // Directory to find the current version of RepeatMasker (https://github.com/Dfam-consortium/RepeatMasker)
        params.repeatMaskerDir= path
    }
}
*/
